.nt-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.nt-container table {
  width: 100%;
  margin-bottom: 1rem;
}

.nt-container table th {
  text-align: left;
  padding: 0.25rem;
}

.nt-container table td {
  padding: 0.25rem;
}

.btn-save-team {
  margin: 1rem;
  background-color: #000;
  color: #fff;
  height: 40px;
  width: 180px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  position: relative;
}

.remove-btn {
  border: none;
  font-weight: bold;
  margin-left: 1rem;
}

.remove-btn:hover {
  background-color: #000;
  color: #fff;
}