.nt-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.nt-container table {
  width: 100%;
  margin-bottom: 1rem;
}

.nt-container table th {
  text-align: left;
}