.btn::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 3px;
  bottom: -3px;
  left: 3px;
  width: 100%;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  height: 100%;
  right: -3px;
  top: 3px;
  width: 3px;
}

.text-bold {
  font-weight: bold;
}

.card {
  border: 1px solid rgb(0,0,0,15%);
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 20%);
}